<div class='index-container'>
  <div class='index-text-container'>
    <h1>Good health starts with how you train.</h1>
    <p>Want to organize your training routine more mindfully? Track activity and
      reach your goals with MyFitnessTracker</p>
    <div class='index-link'>
      <a href='/signup'>Sign up now</a>
    </div>
  </div>
</div>