<h1>EXERCISES</h1>


<form action="/user/chosenExercises" method="POST">
{{#each workouts}}
<div>
    <input type="checkbox" id="allWorkouts" value={{_id}} name="chosenExercise" />
    <img src="{{gifUrl}} "></img>
    <h2>{{name}}</h2>
</div>
{{/each}}
<div>
    <button type="submit">SUBMIT</button>
</div>
</form>