<main class='add-workout-page'>
  <div class='sign-form-container exercises-container'>
    <h2>Exercises</h2>
    <div class='exercises-container-forms'>

      <form class='search-form'>
        <input
          class='exercise-search'
          type='text'
          placeholder='Search for an exercise'
        />
        <div class='select-btns'>
          <div class='select-btn'>
            <label for='targets'></label>
            <select name='targets' id='targets' placeholder='Muscle'>
              <option value='' disabled selected>Select muscle</option>
              <option value='all'>All</option>
              <option value='abs'>Abs</option>
            </select>
          </div>
          <div class='select-btn'>
            <label for='equipment'></label>
            <select name='equipment' id='equipment'>
              <option value='' disabled selected>Select equipment</option>
              <option value='all'>All</option>
              <option value='olympicBarbell'>Olympic barbell</option>
            </select>
          </div>
        </div>
      </form>

      <form
        class='all-exercises-form'
        action='/user/chosenExercises'
        method='POST'
      >
        <div class='all-exercises'>
          {{#each workouts}}
            <div class='single-exercise'>
              <img src="{{gifUrl}} "></img>
              <h2>{{name}}</h2>
              <input
                type='checkbox'
                id='allWorkouts'
                value={{_id}}
                name='chosenExercise'
              />
            </div>
          {{/each}}
        </div>

        <button type='submit' class='workout-submit-btn workout-btn'>Add
          exercises</button>

      </form>
    </div>

  </div>
</main>