<main class='user-profile-page'>
  <section class='profile-info-section'>
    <div class='profile-info-container'>
      <div class='profile-info'>
        <img src='/images/profile-pic-test.png' alt='profile pic' />
        <div class='userdata'>
          <h2>Username: {{user.username}}</h2>
          <h2>Email: {{user.email}}</h2>
        </div>
        <a class='update-btn profile-btn' href='/updateProfile'>Update your
          profile</a>
      </div>

      <form action='/logout' method='post'>
        <button class='logout-btn profile-btn'>Logout</button>
      </form>
    </div>
  </section>

  <section class='workouts-section'>
    <h1>My workouts</h1>
    <a class='profile-btn add-workout-btn' href='/addWorkout'>+ Add a workout</a>
  </section>
</main>