<main class='user-profile-page'>
  <section class='profile-info-section'>
    <div class='profile-info-container'>
      <div class='profile-info'>
        <img src='/images/profile-pic-test.jpg' alt='profile pic' />
        <div class='userdata'>
          <h2>Username: ...</h2>
          <h2>Email: ...</h2>
        </div>
        <a class='update-btn profile-btn' href='#'>Update your profile</a>
      </div>

      <a class='logout-btn profile-btn' href='/logout'>Logout</a>
    </div>
  </section>

  <section class='workouts-section'>
    <h1>My workouts</h1>
    <a class='profile-btn add-workout-btn' href='/addWorkout'>+ Add a workout</a>
  </section>
</main>